<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.az.mybatis.multi.mapper.second.ClassMapper">
    <sql id="class_col">
        id,grade,class,master,count,create_time
    </sql>


    <insert id="insertClass" parameterType="class">
      INSERT INTO class(grade,class,master,count) VALUE
      (#{grade},#{clas},#{master},#{count});
    </insert>

    <select id="queryClass" resultMap="clazz" parameterType="map">
        SELECT <include refid="class_col"/> from class
        <where>
            <trim prefixOverrides="and">
                <if test="id!=null and id!=''">
                    and id=#{id}</if>
                <if test="grade!=null and grade!=''">
                    and grade=#{grade}</if>
            </trim>
        </where>
    </select>
    
    
    <parameterMap id="class" type="Class">
        <parameter property="id" resultMap="id" jdbcType="INTEGER" />
        <parameter property="grade" resultMap="grade" jdbcType="INTEGER"/>
        <parameter property="clas" resultMap="class" jdbcType="INTEGER"/>
        <parameter property="master" resultMap="master" jdbcType="VARCHAR"/>
        <parameter property="count" resultMap="count" jdbcType="INTEGER"/>
        <parameter property="create_time" resultMap="create_time"
                    javaType="java.util.Date"/>
    </parameterMap>

    <resultMap id="clazz" type="Class">
        <result property="id" column="id" javaType="Integer"/>
        <result property="grade" column="grade" javaType="Integer"/>
        <result property="clas" column="class" javaType="Integer"/>
        <result property="master" column="master" javaType="String"/>
        <result property="count" column="count" javaType="Integer"/>
        <result property="create_time" column="create_time"
                   javaType="java.util.Date"/>

    </resultMap>
</mapper>